/* -------------------------------------
 * http://peters-playground.com
 * author: Peiwen Lu (P233)
 * E-mail: 40132147@qq.com
 * ------------------------------------- */
/*------- fonts ------- */
@font-face {
  font-family: "Colaborate";
  src: url("font/ColabLig-webfont.eot");
  src: url("font/ColabLig-webfont.eot?#iefix") format("embedded-opentype"), url("font/ColabLig-webfont.woff") format("woff"), url("font/ColabLig-webfont.ttf") format("truetype"), url("font/ColabLig-webfont.svg#ColaborateLightRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "fontello";
  src: url("font/fontello.eot");
  src: url("font/fontello.eot#iefix") format("embedded-opentype"), url("font/fontello.woff") format("woff"), url("font/fontello.ttf") format("truetype"), url("font/fontello.svg#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* -------------------------------------
 * General Style
 * ------------------------------------- */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  color: #444444;
  font: 16px/1.5 Colaborate, STHeiti, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: none;
  background: #f4f4f4;
  overflow: hidden;
  position: relative; }

a {
  color: inherit;
  text-decoration: none; }

/* -------------------------------------
 * Navbar
 * ------------------------------------- */
#nav {
  width: 160px;
  height: 100%;
  margin-right: 10px;
  color: white;
  background: #2b2c31;
  text-shadow: -1px 1px 0 rgba(43, 44, 49, 0.7);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
  position: relative;
  float: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

#profile {
  margin: 55px auto 35px;
  border-radius: 50%;
  box-shadow: 0 0 0px 2px white, 0 0 0 3px #cccccc;
  display: block; }
  #profile:hover {
    -webkit-animation: spin 0.3s linear infinite;
    -moz-animation: spin 0.3s linear infinite;
    -ms-animation: spin 0.3s linear infinite;
    -o-animation: spin 0.3s linear infinite;
    animation: spin 0.3s linear infinite; }

#menu {
  margin: 0;
  padding: 0; }

.label, #about {
  padding: 12px 35px;
  border-top: 1px solid #323339;
  list-style: none;
  cursor: pointer;
  display: block;
  -webkit-transition: background 0.1s ease-in-out;
  -moz-transition: background 0.1s ease-in-out;
  -ms-transition: background 0.1s ease-in-out;
  -o-transition: background 0.1s ease-in-out;
  transition: background 0.1s ease-in-out; }

#about {
  border-bottom: 1px solid #323339; }
  #about:hover {
    background: #a563a5; }

/*------- label color ------- */
#label1.selected, #label1:hover {
  background: #f8632e; }

#label2.selected, #label2:hover {
  background: #ed3324; }

#label3.selected, #label3:hover {
  background: #fba418; }

#label4.selected, #label4:hover {
  background: #56a61c; }

#label5.selected, #label5:hover {
  background: #14baa5; }

#label6.selected, #label6:hover {
  background: #3f9cca; }

/*------- nav icons ------- */
#contact_me, #rss {
  color: #737582;
  -webkit-transition: color 0.15s ease-in-out;
  -moz-transition: color 0.15s ease-in-out;
  -ms-transition: color 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out; }
  #contact_me:hover, #rss:hover {
    color: white; }
  #contact_me:before, #rss:before {
    font-family: "fontello";
    font-size: 24px;
    position: absolute; }

#contact_me:before {
  content: "\2709";
  left: 50px;
  bottom: 12px; }

#rss:before {
  content: "\f09e";
  left: 85px;
  bottom: 11px; }

/* -------------------------------------
 * sidebar
 * ------------------------------------- */
#sidebar {
  width: 440px;
  height: 100%;
  background: #fafaf6;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
  position: relative;
  float: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

/*------- titles ------- */
#title_wrap {
  height: 60px;
  margin: 0 15px;
  padding-top: 50px;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  -webkit-transition: border-bottom-color 0.6s;
  -moz-transition: border-bottom-color 0.6s;
  -ms-transition: border-bottom-color 0.6s;
  -o-transition: border-bottom-color 0.6s;
  transition: border-bottom-color 0.6s; }

#title_wrap.select1 {
  border-bottom-color: #f8632e; }

#title_wrap.select2 {
  border-bottom-color: #ed3324; }

#title_wrap.select3 {
  border-bottom-color: #fba418; }

#title_wrap.select4 {
  border-bottom-color: #56a61c; }

#title_wrap.select5 {
  border-bottom-color: #14baa5; }

#title_wrap.select6 {
  border-bottom-color: #3f9cca; }

.title {
  margin: 0;
  padding-left: 5px;
  font-size: 42px;
  font-weight: normal;
  text-shadow: -2px 2px 0 rgba(43, 44, 49, 0.07);
  display: none; }

#title1 {
  color: #f8632e;
  display: block; }

#title2 {
  color: #ed3324; }

#title3 {
  color: #fba418; }

#title4 {
  color: #56a61c; }

#title5 {
  color: #14baa5; }

#title6 {
  color: #3f9cca; }

/*------- post list ------- */
#post_list {
  padding-right: 9px;
  overflow-y: auto;
  position: absolute;
  top: 140px;
  bottom: 10px;
  left: 20px;
  right: 6px; }
  #post_list::-webkit-scrollbar {
    width: 3px; }
  #post_list::-webkit-scrollbar-thumb {
    background: #fafaf6; }
  #post_list:hover::-webkit-scrollbar-thumb {
    background: #e7e7e7; }
  #post_list::-webkit-scrollbar-thumb:hover {
    background: #cecece; }

/*------- post links ------- */
.cate1 {
  margin: 0 0 5px;
  padding: 5px;
  font-size: 15px;
  border-bottom: 1px dashed #efefef;
  display: block; }
  .cate1:hover {
    color: #777777 !important; }
  .cate1:visited {
    color: #9b9da7; }
    .cate1:visited .circle_icon {
      background: #fafaf6; }
  .cate1.actived {
    color: #2b2c31; }
    .cate1.actived:hover {
      color: #2b2c31 !important; }

.circle_icon {
  width: 6px;
  height: 6px;
  margin-right: 5px;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  display: inline-block; }

.date {
  color: #9b9b9b;
  font-size: 14px;
  float: right; }

.CSS .circle_icon {
  background: #ed3324;
  border-color: #ed3324; }

.Front_end .circle_icon {
  background: #fba418;
  border-color: #fba418; }

.Mac .circle_icon {
  background: #56a61c;
  border-color: #56a61c; }

.Codepen .circle_icon {
  background: #14baa5;
  border-color: #14baa5; }

.Github .circle_icon {
  background: #3f9cca;
  border-color: #3f9cca; }

/* -------------------------------------
 * container
 * ------------------------------------- */
#container {
  height: 100%;
  margin-left: 620px;
  background: #fcfcfa;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
  overflow-x: hidden;
  overflow-y: auto;
  position: relative; }

/*------- post header ------- */
#header {
  color: white;
  padding: 50px 5% 0;
  box-shadow: 0 2px 1px -1px rgba(43, 44, 49, 0.15);
  overflow: hidden;
  -webkit-transition: background 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out;
  -ms-transition: background 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out; }
  #header h1 {
    height: 63px;
    margin: 0;
    font-size: 42px;
    line-height: 65px;
    font-weight: normal;
    text-shadow: -2px 2px 0 rgba(43, 44, 49, 0.2);
    float: left; }

/*------- header icons ------- */
.header_icon {
  width: 40px;
  height: 40px;
  margin: 13px 0 9px 5px;
  color: white;
  text-shadow: -1px 1px 0 rgba(43, 44, 49, 0.2);
  background: transparent;
  border: 3px solid white;
  border-radius: 50%;
  box-shadow: -1px 1px 0 rgba(43, 44, 49, 0.2);
  position: relative;
  cursor: pointer;
  float: right;
  -webkit-transition: color, background 0.15s ease-in-out;
  -moz-transition: color, background 0.15s ease-in-out;
  -ms-transition: color, background 0.15s ease-in-out;
  -o-transition: color, background 0.15s ease-in-out;
  transition: color, background 0.15s ease-in-out; }
  .header_icon:before {
    width: 20px;
    height: 20px;
    margin: -10px 0 0 -10px;
    font-size: 20px;
    font-family: "fontello";
    position: absolute;
    top: 50%;
    left: 50%; }

#fullscreen:before {
  content: "\e744"; }

#fontsize:before {
  content: "\2b"; }

#fullscreen.return:before {
  content: "\e746"; }

#fontsize.return:before {
  content: "\2d"; }

/*------- post content sytle ------- */
#content {
  margin: 2.5em 5% 0; }
  #content a {
    color: #5b5d67;
    border-bottom: 1px dashed #dbdbdb;
    word-break: break-all; }
    #content a:hover {
      color: #9b9da7; }
      #content a:hover img {
        box-shadow: 0 0 10px #cecece; }
  #content h2, #content h3, #content h4, #content h5, #content h6 {
    font-weight: normal;
    margin: 2em 0 0.5em; }
  #content p {
    margin: 0 0 1.5em;
    text-align: justify;
    word-break: break-word; }
  #content blockquote {
    margin: 1.5em 0 1.5em 2.5em;
    padding-left: 10px;
    font-size: 1em;
    line-height: 1.4;
    border-left: 5px solid; }
  #content ul {
    margin: -1em 0 1.5em; }
  #content ul li {
    margin-bottom: 0; }
  #content ol li, #content ol p {
    margin-bottom: 0.5em; }
  #content em {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic; }
  #content h2 + h3, #content h3 + h4, #content h4 + h5, #content h5 + h6 {
    margin-top: 0; }
  #content img {
    max-width: 100%;
    max-height: 500px;
    margin: 50px auto;
    border: 10px solid white;
    box-shadow: 0 0 5px #dbdbdb;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    cursor: pointer; }

code {
  padding: 0 5px;
  color: black;
  font-family: monospace;
  font-size: 0.95em;
  text-shadow: 0 1px white;
  background: #f7f7f7; }

h2 code, h3 code, h4 code, h5 code, h6 code {
  padding: 0 10px;
  color: black;
  font-size: 0.95em;
  text-shadow: 0 1px white;
  background: #f7f7f7; }

/*------- large font ------- */
#container.largefont {
  font-size: 17px;
  line-height: 1.55; }

/*------- social ------- */
#social {
  padding-top: 50px;
  text-align: center; }

a#end_cc, a#twitter, a#weibo {
  margin: 0 5px;
  border-bottom: none; }
  a#end_cc:before, a#twitter:before, a#weibo:before {
    font-size: 24px;
    font-family: "fontello"; }

#end_cc:before {
  content: "\e7a5"; }

#twitter:before {
  content: "\f309"; }

#weibo:before {
  content: "\f33f"; }

/*------- color scheme for post ------- */
#post.select1 #header {
  background: #f8632e; }
#post.select1 blockquote {
  border-left-color: #f8632e; }
#post.select1 .header_icon:hover {
  color: #f8632e;
  background: white; }

#post.select2 #header {
  background: #ed3324; }
#post.select2 blockquote {
  border-left-color: #ed3324; }
#post.select2 .header_icon:hover {
  color: #ed3324;
  background: white; }

#post.select3 #header {
  background: #fba418; }
#post.select3 blockquote {
  border-left-color: #fba418; }
#post.select3 .header_icon:hover {
  color: #fba418;
  background: white; }

#post.select4 #header {
  background: #56a61c; }
#post.select4 blockquote {
  border-left-color: #56a61c; }
#post.select4 .header_icon:hover {
  color: #56a61c;
  background: white; }

#post.select5 #header {
  background: #14baa5; }
#post.select5 blockquote {
  border-left-color: #14baa5; }
#post.select5 .header_icon:hover {
  color: #14baa5;
  background: white; }

#post.select6 #header {
  background: #3f9cca; }
#post.select6 blockquote {
  border-left-color: #3f9cca; }
#post.select6 .header_icon:hover {
  color: #3f9cca;
  background: white; }

/*------- index page ------- */
#copyright {
  padding: 10px;
  color: #777777;
  background: #f4f4f4;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0; }
  #copyright a {
    color: #2b2c31;
    border-bottom: none; }
    #copyright a:hover {
      color: #9b9da7; }
  #copyright p {
    margin: 0;
    font-size: 16px;
    text-align: right;
    line-height: 25px;
    float: right;
    clear: right; }

/*------- cc fontello ------- */
#cc_link {
  padding-top: 10px;
  font-size: 36px;
  font-family: "fontello";
  line-height: 36px;
  float: left; }
  #cc_link:hover {
    color: #2b2c31 !important; }

#cc:before {
  content: "\e7a5"; }

#cc_by:before {
  content: "\e7a6"; }

#cc_nc:before {
  content: "\e7a7"; }

#cc_sa:before {
  content: "\e7aa"; }

/*------- disqus_thread ------- */
#disqus_thread {
  margin-top: 30px;
  padding: 40px 5% 0;
  border-top: 2px solid #eaedf0; }

.dsq-brlink {
  padding: 0 0 40px 5%; }

/* -------------------------------------
 * import animation and pygments style
 * ------------------------------------- */
/*------- spin ------- */
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(359deg); } }

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }

  to {
    -moz-transform: rotate(359deg); } }

@-o-keyframes spin {
  from {
    -o-transform: rotate(0deg); }

  to {
    -o-transform: rotate(359deg); } }

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg); }

  to {
    -ms-transform: rotate(359deg); } }

@keyframes spin {
  from {
    transform: rotate(0deg); }

  to {
    transform: rotate(359deg); } }

/* -------------------------------------
 * https://gist.github.com/edwardhotchkiss/2005058
 * ------------------------------------- */
.highlight {
  margin: 1.5em 0;
  padding: 15px;
  line-height: 1.4;
  background: #f7f7f7;
  overflow-x: auto; }
  .highlight::-webkit-scrollbar {
    height: 10px; }
  .highlight::-webkit-scrollbar-thumb {
    background: #e7e7e7; }
    .highlight::-webkit-scrollbar-thumb:hover {
      background: #dbdbdb; }
  .highlight pre {
    margin: 0; }
  .highlight code {
    padding: 0;
    font-size: 16px;
    background: none;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2; }

.highlight .c {
  color: #586e75; }

/* Comment */
.highlight .err {
  color: #93a1a1; }

/* Error */
.highlight .g {
  color: #93a1a1; }

/* Generic */
.highlight .k {
  color: #859900; }

/* Keyword */
.highlight .l {
  color: #93a1a1; }

/* Literal */
.highlight .n {
  color: #93a1a1; }

/* Name */
.highlight .o {
  color: #859900; }

/* Operator */
.highlight .x {
  color: #cb4b16; }

/* Other */
.highlight .p {
  color: #93a1a1; }

/* Punctuation */
.highlight .cm {
  color: #586e75; }

/* Comment.Multiline */
.highlight .cp {
  color: #859900; }

/* Comment.Preproc */
.highlight .c1 {
  color: #586e75; }

/* Comment.Single */
.highlight .cs {
  color: #859900; }

/* Comment.Special */
.highlight .gd {
  color: #2aa198; }

/* Generic.Deleted */
.highlight .ge {
  color: #93A1A1;
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #dc322f; }

/* Generic.Error */
.highlight .gh {
  color: #cb4b16; }

/* Generic.Heading */
.highlight .gi {
  color: #859900; }

/* Generic.Inserted */
.highlight .go {
  color: #93a1a1; }

/* Generic.Output */
.highlight .gp {
  color: #93a1a1; }

/* Generic.Prompt */
.highlight .gs {
  color: #93A1A1;
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #cb4b16; }

/* Generic.Subheading */
.highlight .gt {
  color: #93a1a1; }

/* Generic.Traceback */
.highlight .kc {
  color: #cb4b16; }

/* Keyword.Constant */
.highlight .kd {
  color: #268bd2; }

/* Keyword.Declaration */
.highlight .kn {
  color: #859900; }

/* Keyword.Namespace */
.highlight .kp {
  color: #859900; }

/* Keyword.Pseudo */
.highlight .kr {
  color: #268bd2; }

/* Keyword.Reserved */
.highlight .kt {
  color: #dc322f; }

/* Keyword.Type */
.highlight .ld {
  color: #93a1a1; }

/* Literal.Date */
.highlight .m {
  color: #2aa198; }

/* Literal.Number */
.highlight .s {
  color: #2aa198; }

/* Literal.String */
.highlight .na {
  color: #93a1a1; }

/* Name.Attribute */
.highlight .nb {
  color: #b58900; }

/* Name.Builtin */
.highlight .nc {
  color: #268bd2; }

/* Name.Class */
.highlight .no {
  color: #cb4b16; }

/* Name.Constant */
.highlight .nd {
  color: #268bd2; }

/* Name.Decorator */
.highlight .ni {
  color: #cb4b16; }

/* Name.Entity */
.highlight .ne {
  color: #cb4b16; }

/* Name.Exception */
.highlight .nf {
  color: #268bd2; }

/* Name.Function */
.highlight .nl {
  color: #93a1a1; }

/* Name.Label */
.highlight .nn {
  color: #93a1a1; }

/* Name.Namespace */
.highlight .nx {
  color: #555555; }

/* Name.Other */
.highlight .py {
  color: #93a1a1; }

/* Name.Property */
.highlight .nt {
  color: #268bd2; }

/* Name.Tag */
.highlight .nv {
  color: #268bd2; }

/* Name.Variable */
.highlight .ow {
  color: #859900; }

/* Operator.Word */
.highlight .w {
  color: #93a1a1; }

/* Text.Whitespace */
.highlight .mf {
  color: #2aa198; }

/* Literal.Number.Float */
.highlight .mh {
  color: #2aa198; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #2aa198; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #2aa198; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #586e75; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #2aa198; }

/* Literal.String.Char */
.highlight .sd {
  color: #93a1a1; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #2aa198; }

/* Literal.String.Double */
.highlight .se {
  color: #cb4b16; }

/* Literal.String.Escape */
.highlight .sh {
  color: #93a1a1; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #2aa198; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #2aa198; }

/* Literal.String.Other */
.highlight .sr {
  color: #dc322f; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #2aa198; }

/* Literal.String.Single */
.highlight .ss {
  color: #2aa198; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #268bd2; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #268bd2; }

/* Name.Variable.Class */
.highlight .vg {
  color: #268bd2; }

/* Name.Variable.Global */
.highlight .vi {
  color: #268bd2; }

/* Name.Variable.Instance */
.highlight .il {
  color: #2aa198; }

/* Literal.Number.Integer.Long */
/* -------------------------------------
 * tablet
 * ------------------------------------- */
#notice {
  width: 160px;
  height: 50px;
  color: #777777;
  font-size: 30px;
  line-height: 55px;
  text-align: center;
  text-shadow: 0 1px white;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  position: fixed;
  left: 50%;
  top: 350px;
  margin-left: -80px;
  z-index: 9999;
  display: none; }

@media screen and (max-width: 1440px) {
  #sidebar {
    width: 320px; }

  .date {
    display: none; }

  #container {
    margin-left: 500px; } }
@media screen and (max-width: 1200px) {
  #container {
    margin-left: 0;
    position: absolute;
    left: 10px;
    right: 0;
    z-index: 999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none; }

  .highlight {
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all; }

  #notice {
    display: block; } }
@media screen and (max-width: 1024px) {
  #fullscreen {
    display: none; } }
@media screen and (max-width: 500px) {
  #nav, #fontsize {
    display: none; }

  #notice {
    top: 180px; }

  #copyright {
    position: static;
    background: transparent; }
    #copyright #cc_link {
      width: 100%;
      font-size: 24px;
      text-align: center; }
    #copyright p {
      font-size: 14px;
      text-align: center;
      line-height: 1.5;
      float: none; }

  #sidebar {
    width: 100%;
    overflow-y: scroll; }

  #title_wrap {
    margin: 0;
    padding: 30px 0 0 20px;
    background: #f8632e;
    border-bottom-color: #f8632e !important;
    box-shadow: 0 2px 1px -1px rgba(43, 44, 49, 0.15); }
    #title_wrap .title {
      color: transparent;
      text-shadow: none !important; }
      #title_wrap .title:before {
        content: "Peter's Playgorund";
        color: white;
        font-size: 30px;
        text-shadow: -2px 2px 0 rgba(43, 44, 49, 0.2); }

  #post_list {
    padding: 20px 10px;
    position: static; }

  #container {
    font-size: 14px;
    left: 0; }

  #header {
    padding-top: 30px; }
    #header h1 {
      font-size: 30px; }

  .highlight code {
    font-size: 12px; } }
