<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>{{ page.title }} | Peter's Playground</title>
		<!--[if lt IE 9]><script src="/js/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Overlock">
		<link rel="stylesheet" type="text/css" href="/stylesheet/style.css">
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-37405656-1']);
		  _gaq.push(['_trackPageview']);
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</head>
	<body>
		<header>
			<h1>Peter's Playground</h1>
			<nav>
				<a href="/index.html">首页</a>
				<a href="/categories.html">文章分类</a>
					<div id="sub_nav">
						<a href="/categories.html#css">Css 技术</a>
						<a href="/categories.html#mac">软件与系统</a>
						<a href="/categories.html#unc">未分类</a>
					</div>
				<a href="/github.html">My Github</a>
			</nav>
			<a id="copyright" href="http://creativecommons.org/licenses/by-nc-sa/3.0/cn/" target="_blank"><img src="/images/cc.png" alt="creative commons"/></a>
		</header>
		<div id="arrow"></div>
		<div id="container">
			{{ content }}
		</div>
		<script type="text/javascript" src="/js/meny.min.js"></script>
		<script type="text/javascript" src="/js/prism.min.js"></script>
		<script type="text/javascript">
			var meny = Meny.create({
				menuElement: document.querySelector( 'header' ),
				contentsElement: document.querySelector( '#container' ),
				position: Meny.getQuery().p || 'left',
				height: 200,
				width: 250,
				threshold: 40
			});
		</script>
	</body>
</html>